/**
* Projeto CityMap
*
*
* @author Yasmin Pimentel
*
* Styling basico da pagina e dos componentes.
*/

#mapid { 
    height: 70vh;    
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #007bff;
    color:#fff;
    margin-bottom:20px;
    height:10vh;
    justify-content: space-between;
    padding: 10px;
}

.site-header p{
    font-family: cursive;
}

footer {
    background: #007bff94;
    margin-top: 5%;
}
footer .container{
    padding:8px;
}
